# BEGIN WordPress
# دستورالعمل‌های (خطوط) بین "BEGIN WordPress" و "END WordPress"
# به طور پویا تولید شده‌اند، و فقط باید به وسیلهٔ صافی‌های وردرپرس ویرایش شوند.
# هر تغییری در دستورالعمل‌های بین این نشان‌گرها بازنویشی خواهند شد.

php_value memory_limit 256M
php_value upload_max_filesize 64M
php_value post_max_size 64M
php_value max_execution_time 300

# END WordPress
